export(char2helloworld)
export(HWplot)
export(sillysubtract)
exportClasses(helloworld)
exportMethods(helloworld)
exportMethods(print)
exportMethods(sillyadd)
import(ggplot2)
import(igraph)
importFrom("methods", "as")
